<div class="nested-fields">
    <br>
    <h3>Employee Store</h3>
    <br>
    
    <div class="form-row">
    <div class="field form-group col-6">
        <%= f.label :store_id, 'Store *' %>
        <br>
        <%= f.collection_select :store_id, Store.all, :id, :store_name, class: 'form-control' %>
    </div>
    </div>
    <br>

    <div class="form-row">
        <div class="field form-group">
            <%= link_to_remove_association "Remove Store", f, class: 'btn btn-secondary float-left mx-auto' %> <br>
        </div>
    </div>
    <hr>
</div>