<p id="notice"><%= notice %></p>

<p>
  <strong>Photo Type:</strong>
  <%= @photo_type.photo_type %>
</p>

<%= link_to 'Edit', edit_photo_type_path(@photo_type) %> |
<%= link_to 'Back', photo_types_path %>
