<div class = "pet-vaccination-content">
<br>
<h2>Change Password</h2>
<p><i>* indicates required fields</i></p>
<p><i>Password must contain a minimum of eight characters, at least one uppercase letter, one lowercase letter and one number. </i></p>
<hr>

<%= render 'edit_password', user: @user %>
</div>