<div class="container">


<%= render 'edit_form', customer: @customer %>

<!--<%= link_to 'Back', customers_path, class:'btn btn-danger btn-lg', style: 'margin-left: 535px;'%>
<%= link_to 'Update', @customer, class: 'btn btn-warning btn-lg'%>-->
</div>


