<h1>Editing Grooming Appointment Status</h1>

<%= render 'form', grooming_appointment_status: @grooming_appointment_status %>

<%= link_to 'Show', @grooming_appointment_status %> |
<%= link_to 'Back', grooming_appointment_statuses_path %>
