@import './bootstrap_custom.scss';

// Trying to get data tables to work
/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/dist/css/bootstrap";



body{
    width: 100%;
}

.nested-fields{
    width: 100%;
}

// ValerieBar
#valeriebar1 {
	position: absolute;
	height: 3px;
	background-color: #9a12b3;
}

//Navbar links
nav .navbar-nav li a{
    color: #22262b !important;
   
}

nav .navbar-nav li a:hover { color: #9a12b3 !important; }

#logo{
    max-width: 50px;
    margin: auto;
    right: 20px;
}


#navbar{
    width: 100%;
}

 #form {
    width: 93%;
    height: 100;
    margin-left: 33%;
    margin-right: 33%;
   
 }

 #buttons {
     width: 50%;
 }

 .info-box{
    border: 5px black;
    padding: 10px;
 }

 // User and Logout in Navbar
 .logout{
    margin-right: 150px;
    color: #9a12b3;
    float: right;
    border: 1px solid #9a12b3;
  }
  .logout:hover{
    margin-right: 150px;
    color: white;
    float: right;
    background-color: #9a12b3;
  }
  
  .user{
    color: #9a12b3;
    margin-top: 10px;
    margin-left: 10px;
  }

//New Customer
.customer-content
{
    max-width: 900px;
    margin: auto;
    background: white;
    padding: 10px; 
}



 // Grooming Appointment Module 
 // .content will center a form
 .content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
    }
    
    .name-label{
    font-size: 20px;
    font-weight: bold;
    }
    
    .name{
    font-size: 20px;
    }


// Success Notification Styling
    .success-notice{
        color: rgb(7, 114, 7);
        padding: 10px;
        background-color: rgb(230, 248, 230);
        border: 1px solid rgb(168, 204, 168);
        border-radius: 0.25rem;
    }

// Drop Downs
select {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


.block{
  display:block;
}

 
// Pet Vaccination Forms
.pet-vaccination-content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    }

// Incident Forms
.incident-content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
    }

// Grooming Service
.grooming-service-content {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 10px;
    }

// Grooming Style
.grooming-style-content{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    }

// Employee Store
.employee-store-content{
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    }


// Login
.login-content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    }
    
.btn-login{
  background-color: #bc81c9;
  color: white;
  width: 250px;
}

.btn-login:hover{
  color: white;
  background-color: #3a63a6;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.tall{
  height: 60px;
  font-size: 18px;
}

#alert{
  color: red;
}

// User
.user-content {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    }

// Required Fields
.required{
    color: red;
  }

// Status Forms
.status-content{
    max-width: 500px;
    margin: auto;
    padding: 10px;
}

// Errors
.field_with_errors textarea{
    border: 1px solid red;
}


.field_with_errors input{
    border: 1px solid red;
}

.field_with_errors select{
    border: 1px solid red;
}

.field_with_errors{
    color:red;
}



#error_explanation {
    background-color: #f5dbdb;
    color: #732121;
    border: 1px solid #e29797;
    border-radius: 5px;
    padding-left: 10px;
    margin-bottom: 10px;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

// Dashboard

.dashboard-card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-right: 25px;
  width: 350px;
}

.report-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-right: 25px;
  }

  // Grooming Appt Total
  .double-line{
    font-size: 20px;
    border-bottom:1.5px solid #000;
    text-decoration:underline;
    display:inline-block;
  }

  //Reports
  .dynamic{
    color: #9a12b3;
    }


    .report-date{
        font-size: 18px;
    }
