@import './bootstrap_custom.scss';

// Trying to get data tables to work
/*
 *= require_tree .
 *= require_self
 */
 @import "bootstrap/dist/css/bootstrap";

body{
    width: 100%;
}

.nested-fields{
    width: 100%;
}

#navbar{
    width: 100%;
}

 #form {
    width: 93%;
    height: 100;
    margin-left: 33%;
    margin-right: 33%;
   
 }

 #buttons {
     width: 50%;
 }

 .info-box{
    border: 5px black;
    padding: 10px;
    background: rgb(209, 130, 245);
}