<p id="notice"><%= notice %></p>

<p>
  <strong>Payment type:</strong>
  <%= @payment_type.payment_type %>
</p>

<%= link_to 'Edit', edit_payment_type_path(@payment_type) %> |
<%= link_to 'Back', payment_types_path %>
