<div class="container">
    <br>
    <hr>
     <h2>Customers with Most Appointments</h2>
     <hr>
    <table id="example" class="table table-striped table-bordered" style="width: 1000px;">
	<thead class="thead-dark">
      <th>Customer</th>
      <th>Total Appts</th>
		</thead>
		<tbody>
     <% @customer_appointments.each do |customer_appointments| %>
		<tr>
         <td><%= customer_appointments.customer %></td>
        <td><%= customer_appointments.count%></td>
       <% end %>
		</tbody>
	</table>
    <br>
    <hr>
    <br>
</div>
